.navbar-nav .nav-item .nav-link {
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
    line-height: 1.65;
    letter-spacing: .05em;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    padding-right: 100px;
    font-size: x-large;
}

/* Navbar */
.navbar {
    height: 10vh;
}

.transparent-navbar {
    background: transparent !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#logo {
    cursor: pointer;
}

.dark-bg {
    background-color: #2b3134;
}