/* Global styles */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Page wrapper */
.page-wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}